<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmação de Cadastro</title>
    <!--Site: Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <style>
        body{
            background-color: rgb(230, 138, 63);
            color: white;
            margin: 12px;
        }
    </style>
</head>
<body>
    <div class="jumbotron">
        <h1>Obrigado!</h1>
        <h4>O email "{{ email }}" foi confirmado com sucesso!<br/>Sua conta "{{ conta }}" já está ativa.</h4>
    </div>
</body>
</html>